anyio==4.9.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==25.3.0
banks==2.1.2
bidict==0.23.1
blinker==1.9.0
cachetools==5.5.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.2.1
cloudinary==1.44.0
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==44.0.0
dataclasses-json==0.6.7
defusedxml==0.7.1
Deprecated==1.2.18
dirtyjson==1.0.8
distro==1.9.0
dj-database-url==2.3.0
Django==4.2
django-allauth==65.1.0
django-cors-headers==4.6.0
django-extensions==3.2.3
django-filter==24.3
django-js-asset==3.0.1
django-rest-auth==0.9.5
django-rest-knox==5.0.2
django-rest-swagger==2.2.0
djangorestframework==3.15.2
drf-yasg==1.21.8
et_xmlfile==2.0.0
exceptiongroup==1.3.0
filelock==3.18.0
filetype==1.2.0
flake8==7.1.1
frozenlist==1.6.0
fsspec==2025.5.1
google-auth==2.40.3
griffe==1.7.3
grpcio==1.72.1
gunicorn==23.0.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
itsdangerous==2.2.0
itypes==1.2.0
Jinja2==3.1.5
jiter==0.10.0
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mccabe==0.7.0
mpmath==1.3.0
multidict==6.4.4
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.4.2
openpyxl==3.1.5
orjson==3.10.18
packaging==24.2
platformdirs==4.3.8
pluggy==1.6.0
portalocker==2.10.1
propcache==0.3.1
protobuf==6.31.1
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
PyJWT==2.10.1
pyotp==2.9.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2024.2
PyYAML==6.0.2
qrcode==8.2
regex==2024.11.6
reportlab==4.4.2
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9.1
safetensors==0.5.3
simple-websocket==1.1.0
simplejson==3.19.3
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
starlette==0.46.2
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.21.1
tomli==2.2.1
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.3
Werkzeug==3.1.3
whitenoise==6.8.2
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
zstandard==0.23.0
pinterest-dl==1.1.2
pinterest-dl[image]
pinterest-dl[exif]
pinterest-dl[metadata]
sentry-sdk==2.60.0

